<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/iconTwitter.png">

</head>
<body>

    <div class="comments">
        

        <div class="comments-comment">
          <a href="/username"><img src="" alt=""></a>
          <div class="comments-comment-content">
            <div class="comments-comment-content-nameDate">
              <a href="/tweets/<%= tweet.user_id %>">
                <h3 class="comments-comment-content-username"><%= tweet.username %></h3>
              </a>
              <span class="comments-comment-content-date"><%= tweet.creation_date %></span>
            </div>
            <p class="comments-comment-content-text"><%= tweet.message %></p>
          </div>
        </div>
        
      </div>

    </div>

    <div class="tweet-search"></div>
    
</body>
</html>